// Ignore build artifacts
/build/
/dist/
// Ignore dependency directories
/node_modules/

// Ignore temporary files
.tmp/
/teaching/courses/csci377-fa26/CSCI_377_Syllabus_temp.pdf
.DS_Store  
scraps/*
*.log  
scraps
*.db
site_improvement_review.md
teaching/courses/csci272-fa26/schedule.md
teaching/courses/csci272-fa26/CSCI-272-Fall-2026-Syllabus-*
teaching/courses/csci362-fa26/*.md
teaching/courses/csci377-fa26/CSCI-377-Fall-2026-Syllabus-*
teaching/courses/csci362-fa26/CSCI-362-Fall-2026-Syllabus-Print.pdf


zeroroll/